<a href="https://colab.research.google.com/github/sathchindpk/DSA/blob/main/Practice_Problem_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict

str1 = input("Enter a string value: ")
print(char_frequency(str1))

Enter a string value: welcome to python
{'w': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 3, 'm': 1, ' ': 2, 't': 2, 'p': 1, 'y': 1, 'h': 1, 'n': 1}

In [3]:
def max_of_three(a, b, c):
    return max(a, b, c)

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

print("Maximum of three numbers is: ", max_of_three(a, b, c))

Enter first number: 10
Enter second number: 30
Enter third number: 12
Maximum of three numbers is:  30

In [4]:
def exponent(base, exp):
    return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

print("The result is: ", exponent(base, exp))

Enter the base: 10
Enter the exponent: 20
The result is:  100000000000000000000

In [5]:
def sum_of_cubes(n):
    return sum(i**3 for i in range(1, n))

n = int(input("Enter a positive integer: "))
print("The sum of the cube of all the positive integers smaller than", n, "is:", sum_of_cubes(n))

Enter a positive integer: 20
The sum of the cube of all the positive integers smaller than 20 is: 36100

In [6]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [7]:
def most_frequent(nums):
    return max(set(nums), key=nums.count)

print(most_frequent([2, 3, 4, 2, 5, 2]))  # Output: 2

2

In [8]:
def sum_of_squares(nums):
    return sum(i**2 for i in nums)

print(sum_of_squares([2, 1, 3, 1]))  # Output: 15

15

In [9]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [10]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

def celsius_to_fahrenheit(c):
    return c * 9 / 5 + 32

print("Convert temperatures between Celsius and Fahrenheit!")

while True:
    print("Select an Option:")
    print("1. Convert Fahrenheit to Celsius")
    print("2. Convert Celsius to Fahrenheit")
    print("3. Exit")

    option = input("Enter an option: ")

    if option == "1":
        f = float(input("Enter temperature in Fahrenheit: "))
        c = fahrenheit_to_celsius(f)
        print(f"The temperature in Celsius is {c:.2f}.")

    elif option == "2":
        c = float(input("Enter temperature in Celsius: "))
        f = celsius_to_fahrenheit(c)
        print(f"The temperature in Fahrenheit is {f:.2f}.")

    elif option == "3":
        break

    else:
        print("Invalid option. Try again!")

Convert temperatures between Celsius and Fahrenheit!
Select an Option:
1. Convert Fahrenheit to Celsius
2. Convert Celsius to Fahrenheit
3. Exit
Enter an option: 1
Enter temperature in Fahrenheit: 30
The temperature in Celsius is -1.11.
Select an Option:
1. Convert Fahrenheit to Celsius
2. Convert Celsius to Fahrenheit
3. Exit
Enter an option: 3

In [13]:
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact