<a href="https://colab.research.google.com/github/sathchindpk/DSA/blob/main/practice_problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
PI = 3.14

radius = float(input("Enter the radius: "))

area = PI * (radius ** 2)

print("Area of Circle is", round(area))

Enter the radius: 20
Area of Circle is 1256

In [ ]:
name = input("Enter the name: ")

roll_number = int(input("Enter the roll number: "))

mark = int(input("Enter the mark: "))

print("Name:", name)

print("Roll No:", roll_number)

print("Mark:", mark)

Enter the name: Sachu
Enter the roll number: 23
Enter the mark: 80
Name: Sachu
Roll No: 23
Mark: 80

In [ ]:
numbers = input("Enter a list of numbers separated by comma: ")

numbers_list = [int(num) for num in numbers.split(",")]



largest_number = max(numbers_list)



print(f"{largest_number} is the largest number")

Enter a list of numbers separated by comma: 10,8,50,80,20,35
80 is the largest number

In [ ]:
start = 1

end = 10



previous_number = 0



for i in range(start, end + 1):

    print(f"Current Number {i} Previous Number {previous_number} Sum: {i + previous_number}")

    previous_number = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
numbers = input("Enter a list of numbers separated by comma: ")

numbers_list = [int(num) for num in numbers.split(",")]



for num in numbers_list:

    if num % 5 == 0:

        print(num, end=", ")



print()

Enter a list of numbers separated by comma: 10,20,30,50,60
10, 20, 30, 50, 60,

In [ ]:
def is_prime(n):

    if n <= 1:

        return False

    for i in range(2, int(n ** 0.5) + 1):

        if n % i == 0:

            return False

    return True



num = int(input("Enter the number: "))



if is_prime(num):

    print(f"{num} is a prime number.")

else:

    print(f"{num} is not a prime number.")

Enter the number: 33
33 is not a prime number.

In [ ]:
def reverse_list(lst):

    reversed_lst = []

    for i in range(len(lst) - 1, -1, -1):

        reversed_lst.append(lst[i])

    return reversed_lst



numbers = input("Enter a list of numbers separated by comma: ")

numbers_list = [int(num) for num in numbers.split(",")]



reversed_numbers = reverse_list(numbers_list)



print("Reversed list: ", end="")

for num in reversed_numbers:

    print(num, end=", ")

print()

Enter a list of numbers separated by comma: 10,8,5,20,15,35,40
Reversed list: 40, 35, 15, 20, 5, 8, 10,

In [ ]:
n = 4  # number of rows



for i in range(1, n + 1):

    print("*" * i)

*
**
***
****

In [ ]:
def find_max(a, b, c):

    if a >= b and a >= c:

        return a

    elif b >= a and b >= c:

        return b

    else:

        return c



numbers = input("Enter three numbers separated by comma: ")

a, b, c = map(int, numbers.split(","))



max_num = find_max(a, b, c)



print("Maximum number is: ", max_num)

Enter three numbers separated by comma: 30,12,15
Maximum number is:  30

In [ ]:
n = 5  # number of rows



# print the ascending part of the pattern

for i in range(1, n + 1):

    print("*" * i)



# print the descending part of the pattern

for i in range(n - 1, 0, -1):

    print("*" * i)

*
**
***
****
*****
****
***
**
*